html, body, h1, h2, h3, h4, h5, h6, p, ul, li, input, button, textarea, section {
    margin: 0;
    padding: 0;
}

body, input, button {
    font: 13px/1.5 Console, 'Microsoft Yahei', Arial;
}

ul, li {
    list-style: none;
}

@font-face {
    font-family: 'icomoon';
    src:url('fonts/icomoon.eot?-8f5vlv');
    src:url('fonts/icomoon.eot?#iefix-8f5vlv') format('embedded-opentype'),
        url('fonts/icomoon.woff?-8f5vlv') format('woff'),
        url('fonts/icomoon.ttf?-8f5vlv') format('truetype'),
        url('fonts/icomoon.svg?-8f5vlv#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
    content: "\e602";
}
.icon-hyperlink:before {
    content: "\e600";
}
.icon-plus:before {
    content: "\e601";
}
.icon-list:before {
    content: "\e605";
}
.icon-list2:before {
    content: "\e606";
}

.fr {
    float: right;
}

.hide {
    visibility: none;
}

.none {
    display: none;
}

.url-list {
    width: 500px;
    max-height: 777px;
    position: relative;
}

header {
    height: 35px;
    line-height: 35px;
    background-color: #000;
    text-align: center;
    color: #FFF;
    font-size: 20px;
    position: relative;
}

.show-re {
    position: absolute;
    top: 10px;
    right: 8px;
    background-color: transparent;
    cursor: pointer;
    font-size: 16px;
}

.show-re:hover {
    color: #CCC;
}

.show-re:active {
    color: #8A8A8A;
}

section ul li {
    height: 30px;
    padding: 0 10px;
    line-height: 30px;
}

section ul li:nth-child(2n) {
    background-color: #E8FCFF;
}

li input {
    width: 420px;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 3px;
}

li input:focus {
    outline: 1px solid #00ACA5;
    background-color: #DAF6FD;
}

li i {
    text-decoration: none;
    color: #999;
    font-size: 14px;
    margin-top: 10px;
}

li i:hover {
    color: #333;
}

i.icon-hyperlink {
    margin-right: 12px;
}

.exclude-list {
    position: absolute;
    top: 50px;
    left: 50%;
    width: 450px;
    margin-left: -225px;
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.7);
    background-color: #FFF;
    box-sizing: border-box;
    padding: 5px;
}

.exclude-list h3 {
    background-color: #911C1C;
    color: #FFF;
    padding: 5px;
}

.exclude-list .add-re {
    margin: 4px 11px;
    cursor: pointer;
}

.exclude-list .add-re:hover {
    color: #333;
}

.exclude-list .add-re:active {
    color: #868686;
}

.exclude-list input {
    width: 400px;
}

.exclude-list input:focus {
    outline: 1px solid #D60045;
    background-color: rgb(252, 223, 231);
}

.exclude-list li:nth-child(2n) {
    background-color: #FFE8EE;
}
